{% load static %}

<!--_footer.html-->
<footer class="page-footer font-small bg-primary">
    <div class="container pt-3">
        <div class="row">
            <div class="col text-left">
                <a href="https://www.djangoproject.com/" class="text-white">Powered by Django</a>
            </div>
            <div class="col text-right">
                <p class="text-white">By Herbety Paulo</p> 
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>